*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink-color:#e26e70;
}

body{

    height: 100vh;
    overflow: hidden;
    background-color: darkcyan;
    font-family: sans-serif;

}

.open-modal-btn{
    padding: 15px 20px;
    border-radius: 5px;
    color: black;
    background-color: blanchedalmond;
    margin: auto;
    border: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    
    
}

.modal{
    position: fixed;
   
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.modal-inner{
    position: relative;
    top: 50%;
   
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalshow 0.45s linear;

}

.modal-header{
    
    display: flex;
    background: var(--pink-color);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.modal-body{
    padding: 20px 15px;

}


.modal-body h2{
    color: var(--pink-color);
   margin-bottom: 10px;
}

.modal-footer{
    padding: 15px;
    text-align: right;
}

.modal-footer button{
    cursor: pointer;
   padding: 5px;
   background: var(--pink-color);
   border: none;
   border-radius: 3px;
   color: white;
}

.hiden{
    display: none;
}

@keyframes modalshow {

    from{
        top: 13%;
    }


}